body {
  background: #ADD8E6;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000000;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: white;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
about{
display:flex;
flex-wrap:wrap;
margin-right: 100px;
margin-left: 100px;
justify-content: center;
}
.about p {
width:50%;
text-align: center;
margin: auto;
line-height: 125%;
}
.about img {
width: 150px;
height: 200px;
border-radius: 25%;
border: 2px solid rgb(126, 14, 201);
}
