body {
  background: #ADD8E6;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000000;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: white;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
